<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wave-heading" jhiTranslate="crfApp.wave.home.createOrEditLabel">Create or edit a Wave</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.waveName" for="field_waveName">Wave Name</label>
                    <input type="text" class="form-control" name="waveName" id="field_waveName"
                           formControlName="waveName"/>
                    <div *ngIf="editForm.get('waveName')!.invalid && (editForm.get('waveName')!.dirty || editForm.get('waveName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('waveName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.fileName" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                           formControlName="fileName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.custom" for="field_custom">Custom</label>
                    <input type="text" class="form-control" name="custom" id="field_custom"
                           formControlName="custom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" formControlName="modifyDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crfApp.wave.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" formControlName="projectId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackById">{{ projectOption.projectName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
