<div>
    <h2 id="page-heading">
        <span jhiTranslate="crfApp.blueprint.home.title">Blueprints</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blueprint" [routerLink]="['/blueprint/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crfApp.blueprint.home.createLabel">
            Create a new Blueprint
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="blueprints?.length === 0">
        <span jhiTranslate="crfApp.blueprint.home.notFound">No blueprints found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="blueprints && blueprints.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="crfApp.blueprint.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="crfApp.blueprint.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="crfApp.blueprint.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="crfApp.blueprint.template">Template</span></th>
                    <th scope="col" ><span jhiTranslate="crfApp.blueprint.custom">Custom</span></th>
                    <th scope="col" ><span jhiTranslate="crfApp.blueprint.workload">Workload</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blueprint of blueprints ;trackBy: trackId">
                    <td><a [routerLink]="['/blueprint', blueprint.id, 'view']">{{ blueprint.id }}</a></td>
                    <td>{{ blueprint.title }}</td>
                    <td>{{ blueprint.type }}</td>
                    <td>{{ blueprint.description }}</td>
                    <td>{{ blueprint.template }}</td>
                    <td>{{ blueprint.custom }}</td>
                    <td>
                        <div *ngIf="blueprint.workloadId">
                            <a [routerLink]="['/workload', blueprint.workloadId , 'view']" >{{ blueprint.workloadTitle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/blueprint', blueprint.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/blueprint', blueprint.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(blueprint)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
