<div>
    <h2 id="page-heading">
        <span jhiTranslate="crfApp.project.home.title">Projects</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crfApp.project.home.createLabel">
            Create a new Project
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
        <span jhiTranslate="crfApp.project.home.notFound">No projects found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projects && projects.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="projectName"><span jhiTranslate="crfApp.project.projectName">Project Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="projectType"><span jhiTranslate="crfApp.project.projectType">Project Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="targetCloud"><span jhiTranslate="crfApp.project.targetCloud">Target Cloud</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="crfApp.project.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="crfApp.project.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="custom"><span jhiTranslate="crfApp.project.custom">Custom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="crfApp.project.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crfApp.project.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="crfApp.project.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modifyDate"><span jhiTranslate="crfApp.project.modifyDate">Modify Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organizationOrgName"><span jhiTranslate="crfApp.project.organization">Organization</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let project of projects ;trackBy: trackId">
                    <td><a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a></td>
                    <td>{{ project.projectName }}</td>
                    <td>{{ project.projectType }}</td>
                    <td>{{ project.targetCloud }}</td>
                    <td>{{ project.startDate | date:'mediumDate' }}</td>
                    <td>{{ project.endDate | date:'mediumDate' }}</td>
                    <td>{{ project.custom }}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ project.createdBy }}</td>
                    <td>{{ project.createDate | date:'medium' }}</td>
                    <td>{{ project.modifyDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="project.organizationId">
                            <a [routerLink]="['/organization', project.organizationId , 'view']" >{{ project.organizationOrgName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/project', project.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/project', project.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(project)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
